body {
    height: 10% !important;
    background: linear-gradient(transparent 0%, rgba(33, 3, 34, 0.8) 60%) !important;
}

body>.grid {
    height: 100%;
    width: 100%
}

.image {
    border-radius: 15px;
    border: solid 1px black;
    padding: 1vw;
}
.header.item {
    letter-spacing: 2px;
    width: 15vw;
    text-align: center !important;
}
.ui.fixed.inverted.menu {
    
    background-color: rgba(48, 42, 68, 0.8);
    height: 8vh !important;
}

.ui.left.demo.vertical.inverted.sidebar.labeled.icon.menu {
    background-color: rgba(48, 42, 68, 0.8)
}

#calendar {
    margin-top: 0 !important;
    margin-bottom: -8vh !important;
    align-content: center;
    
}
#brand {
    z-index: 100 !important;
    padding-top: 5vh;
    margin-bottom: -10vh !important;
}

#userIcon {
    font-size: 2.3em;
    width: 15vw !important;
    position: fixed;
    right: -8vw !important;
}

#userIconCont {
    width: 15vw !important;
}
#logo {
    height: 5vh;
    width: auto;
    padding: .5vh;
    margin-right: 2vh; 
    box-sizing: content-box;
    border-radius: 100%;
    box-shadow: 0 0 3px 4px;
    background: radial-gradient(white 0%, rgba(139, 88, 173, 0.685) 45%, transparent 80%);
}

#loginLogo {
    height: 5vh;
    width: auto;
    padding: .5vh;
    box-sizing: content-box;
    border-radius: 100%;
    box-shadow: 0 0 3px 4px;
    background: radial-gradient(white 0%, rgba(139, 88, 173, 0.685) 45%, transparent 80%);
}

#mainPage {
    margin: 10vh auto !important;
    width: 100%
}

.column {
    max-width: 450px;
}