body {
    background-color: rgba(210, 213, 252, 0.795) !important;
}

body>.grid {
    height: 100%;
    width: 100%
}

.image {
   
    border-radius: 15px;
    border: solid 1px black;
}

.ui.fixed.inverted.menu {
    background-color: rgba(48, 42, 68, 0.8)
}

.ui.left.demo.vertical.inverted.sidebar.labeled.icon.menu {
    background-color: rgba(48, 42, 68, 0.8)
}

#logo {
    height: 5vh;
    width: auto;
    box-shadow: 1px 1px 1px black;
    margin-right: 2px;
    background-color: white;
    border: 3px solid transparent;

}

#mainPage {
    margin: 10vh auto !important;
    width: 100%
}

.column {
    max-width: 450px;
}