<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Activity</h5>
          <p>
            <strong>ID</strong>: {{activity.id}}</p>
          <p>
          <p>
            <strong>Activity</strong>: {{activity.activity}}</p>
          <p>
            <strong>Type:</strong> {{activity.type}}</p>
          <p>
            <strong>Description:</strong> {{activity.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
